{
    "presets": [
      "@babel/preset-env",      // Transpile modern JavaScript
      "@babel/preset-react",    // Transpile JSX
      "@babel/preset-typescript" // Transpile TypeScript, if applicable
    ]
  }
  