@import "./variables.scss";

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 240px;
    box-sizing: border-box;

    ::-webkit-scrollbar{
      display: block;
    }

    .dropdown-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1rem;
      font-weight: 500;
      font-family: 'Lato', sans-serif;
      color: $color-white;
      padding: 1rem 32px;
      border-radius: 32px;
      background-color: $color-accent;
      align-items: center;
      box-sizing: border-box;
    }

    .dropdown-list-div{
      width: 100%;
      
      border-radius: 32px;
      background-color: $color-white;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      box-sizing: border-box;
      

      .dropdown-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        max-height: 240px;
        margin: 0;
        overflow-y: auto;
        z-index: 1000;
        list-style-type: none;
        padding: 0;
        
  
        &::-webkit-scrollbar {
          width: 4px;
        }
    
        &::-webkit-scrollbar-track {
          background: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
          background-color: $color-accent;
          border-radius: 4px;
        }
    
        &::-webkit-scrollbar-thumb:hover {
          background-color: $color-accent-50;
        }
      }
      
      li {
        border-radius: 32px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        color: $color-dark;
        text-align: center;
        margin-right: 0.5rem;

        &.selected{
          border: 1px solid $color-accent;
        }
      }

      

      li:not(.no-data):hover {
        background-color: $color-accent-30;
      }

      li.no-data:hover{
        background-color: transparent;
        cursor:default;
      }
    }

    
  }
  
  
  