$color-dark: #161616;
$color-dark-50: rgba($color-dark, 0.5);
$color-accent: #D63D1C;
$color-accent-70: rgba($color-accent, 0.7);
$color-accent-50: rgba($color-accent, 0.5);
$color-accent-30: rgba($color-accent, 0.3);
$color-white: #FFFFFF;
$color-background: #EFEFEF;
